body{
    font-family: 'Atma', cursive;
}

.banner-container {
    background-color:#CBCACC;
}
.banner-column {
    background-color: #8E8D8E;
}

.navbar-container{
    top:0;
    background-color: #272B38;
    position:sticky;
    z-index: 2;

}

.about-container{
    background-color: aqua;
}

.education-container{
    background-color: #EEEDEF;
}

.bg-redtype{
    background-color: #FB8580;
}

.redtype-color{
    color: #FB8580;
}

.circle{
    background-color: #FB8580;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.project-container{
    background-color: #21A8E3;
}

.form-container{
    background-color: #3E4353;
}

.inner-form{
    background-color: #50586F;
}